.Home{
    background-image: url('https://firebasestorage.googleapis.com/v0/b/spotify-d06a9.appspot.com/o/bad%20bunny.webp?alt=media&token=7c7f7c47-dbcc-4b7b-beff-f688ec1dd609');
    background-position: top center;
    background-size: cover;
    padding: 1% 20% 65% 20%;
}
